// colors
$green: #68c5a8;
$light-green: #97dfc9;
$red: #f28098;
$light-grey: #e6e6e6;
$white: white;
$black: black;

//fonts
$header: 'Monda';
$sub-heading: 'Roboto Mono';
$p-text: 'STIXIntegralsUpSm';

* {
  scroll-behavior: smooth;
}

h1,
h4 {
  font-family: $sub-heading;
  color: $white;
}

h2,
li,
.button {
  font-family: $sub-heading;
  color: black;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
}

.navbar-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  li {
    margin-left: 20%;
    padding: 20px 0px;
    a {
      color: $black;
    }
  }
}

.heading-container {
  margin: 40px 0px;
  display: flex;
  align-items: center;
}

.project-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/images/oneUp-bg.png');
  background-size: cover;
  height: 200px;
  .project-label-container {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
    }
    .project-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      background-color: $red;
      padding: $padding-button;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.banner {
  color: $white;
  background-color: $green;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $header;
    font-size: 36px;
  }
  h3 {
    font-family: $sub-heading;
  }

  li {
    color: white;
    a {
      color: white;
    }

    i {
      box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0) !important;
      &:hover {
        box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 1) !important;
      }
    }
    #email:hover {
      cursor: alias;
    }
  }
}

//hover
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 10px;
  background: #f8a8b9;
  height: 3px;
  border-radius: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content-container {
  margin: 0px 10px;
}

hr {
  margin: 40px 0px;
  border-color: $light-green;
}

#me {
  ul {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
