* {
  scroll-behavior: smooth; }

h1,
h4 {
  font-family: "Roboto Mono";
  color: white; }

h2,
li,
.button {
  font-family: "Roboto Mono";
  color: black; }

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 0; }

li {
  display: flex;
  align-items: center; }

img {
  width: 50px;
  height: 50px; }

.navbar-ul {
  height: 60px;
  margin: 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end; }
  .navbar-ul li {
    margin-left: 20%;
    padding: 20px 0px; }
    .navbar-ul li a {
      color: black; }

.heading-container {
  display: inline-block;
  margin: 40px 0px; }
  .heading-container div {
    display: inline-block; }
  .heading-container h2 {
    margin: 0px;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px; }

.project-container {
  background: #e6e6e6;
  background-size: cover;
  height: 200px; }
  .project-container .project-label-container {
    font-family: "Roboto Mono" !important;
    position: relative;
    height: 100%; }
    .project-container .project-label-container img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px; }
    .project-container .project-label-container .project-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      background-color: #f28098;
      padding: 10px; }
      .project-container .project-label-container .project-label:hover {
        cursor: pointer; }

.banner {
  color: white;
  background-color: #68c5a8;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner h1 {
    font-family: "Monda";
    font-size: 36px; }
  .banner h3 {
    font-family: "Roboto Mono"; }
  .banner li {
    color: white; }
    .banner li a {
      color: white; }
    .banner li i {
      box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0) !important; }
      .banner li i:hover {
        box-shadow: 0 0 0 0.1em white !important; }
    .banner li #email:hover {
      cursor: alias; }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 10px;
  background: #f8a8b9;
  height: 3px;
  border-radius: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.content-container h4 {
  display: inline-block;
  color: black;
  margin: 20px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid black; }

hr {
  margin: 40px 0px;
  border: 1px solid #68c5a8; }

#aboutme ul {
  grid-template-columns: repeat(3, 1fr); }

#aboutme p {
  font-size: 18px;
  line-height: 2; }

.button {
  margin-top: 40px;
  display: inline-block;
  border: 1px solid #f28098;
  padding: 10px;
  background-color: #f28098;
  color: white;
  font-family: "Roboto Mono"; }

.subhr {
  margin: 10px 0px;
  width: 100%; }

.heading-icon {
  height: 40px;
  width: 40px;
  background-size: contain !important; }

.heading-icon1 {
  background: url("/images/idea.svg"); }

.heading-icon2 {
  background: url("/images/nerd.svg"); }

.heading-icon3 {
  background: url("/images/code.svg"); }
