h1,
h4 {
  font-family: "Roboto Mono";
  color: white; }

h2,
li,
.button {
  font-family: "Roboto Mono";
  color: black; }

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

li {
  display: flex;
  align-items: center; }

.navbar-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end; }
  .navbar-ul li {
    margin-left: 20%;
    padding: 20px 0px; }
    .navbar-ul li a {
      color: black; }

.heading-container {
  display: flex;
  align-items: center;
  margin-top: 20px; }
  .heading-container img {
    margin-right: 20px; }

.project-container {
  margin: 20px 10px;
  background-color: #e6e6e6;
  height: 200px; }
  .project-container .project-label-container {
    position: relative;
    height: 100%; }
    .project-container .project-label-container img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px; }
    .project-container .project-label-container .project-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      background-color: #f8a8b9;
      padding: 10px; }
      .project-container .project-label-container .project-label:hover {
        cursor: pointer; }

.inline-block {
  display: inline-block; }

.button {
  padding: 10px;
  margin: 20px 0px;
  border: 2px solid #f8a8b9;
  display: inline-block;
  display: flex;
  align-items: center; }

.banner {
  color: white;
  background-color: #68c5a8;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner h1 {
    font-family: "Monda";
    font-size: 36px; }
  .banner h3 {
    font-family: "Roboto Mono"; }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 10px;
  background: #f8a8b9;
  height: 3px;
  border-radius: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

img {
  height: 50px;
  width: 50px;
  margin-right: 20px; }

.line {
  border: thin solid #97dfc9;
  width: 20px;
  margin: 20px 0px; }

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.content-container {
  margin: 0px 10px; }

hr {
  border-radius: 5px;
  border-color: #97dfc9;
  margin-left: 0; }
