// colors
$green: #68c5a8;
$light-green: #97dfc9;
$red: #f28098;
$light-grey: #e6e6e6;
$white: white;
$black: black;
$padding-button: 10px;

//fonts
$header: 'Muli';
$sub-heading: 'Roboto Mono';
$p-text: 'STIXIntegralsUpSm';

//mixins
@mixin subheading_underline {
  padding-bottom: 10px;
  border-bottom: 2px solid $light-green;
}

* {
  scroll-behavior: smooth;
}

h1,
h4 {
  font-family: $sub-heading;
  color: $white;
}

h2,
li,
.button {
  font-family: $sub-heading;
  color: black;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.navbar-ul {
  height: 60px;
  margin: 0px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  li {
    margin-left: 20%;
    padding: 20px 0px;
    a {
      color: $black;
    }
  }
}

.heading-container {
  display: inline-block;
  margin: 40px 0px;

  div {
    display: inline-block;
  }
  h2 {
    margin: 0px;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }
}

.project-container {
  background: $light-grey;
  background-size: cover;
  height: 200px;
  .project-label-container {
    font-family: $sub-heading !important;
    position: relative;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
    }
    .project-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      background-color: $red;
      padding: $padding-button;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.banner {
  color: $white;
  background-color: $green;
  height: 80vh;
  .container {
    height: 100%;
    // border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-family: $header;
    font-size: 50px;
    letter-spacing: 5px;
  }
  h3 {
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: $sub-heading;
  }

  li {
    color: white;
    a {
      color: white;
    }

    i {
      box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0) !important;
      &:hover {
        box-shadow: 0 0 0 0.1em rgba(255, 255, 255, 1) !important;
      }
    }
    #email:hover {
      cursor: alias;
    }
  }
}

//hover
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 10px;
  background: #f8a8b9;
  height: 3px;
  border-radius: 25px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.content-container h4 {
  display: inline-block;
  color: black;
  margin: 20px 0px;
  @include subheading_underline();
}

hr {
  margin: 40px 0px 0px;
  border: 1px solid $green;
}

#aboutme {
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
  p {
    font-size: 18px;
    line-height: 2;
  }
}

#aboutme > h2 {
  font-family: $sub-heading;
  display: inline-block;
  margin: 40px 0px 20px;
  @include subheading_underline();
}

//first heading
#aboutme > h2:nth-child(5) {
  margin-top: 0px;
}

.button {
  margin-top: 40px;
  display: inline-block;
  border: 1px solid $red;
  padding: $padding-button;
  background-color: $red;
  color: $white;
  font-family: $sub-heading;
}

.subhr {
  margin: 10px 0px 0px;
  width: 100%;
}

.heading-icon {
  height: 40px;
  width: 40px;
  background-size: contain !important;
}
.heading-icon1 {
  background: url('/images/idea.svg');
}
.heading-icon2 {
  background: url('/images/nerd.svg');
}
.heading-icon3 {
  background: url('/images/code.svg');
}

.footer {
  margin: 20px 0px;
}

//sweet alert override
.swal-icon--success__line {
  background-color: $green;
}
.swal-icon--success__ring {
  border-color: $green;
}

.plugs {
  // border: 1px solid purple;
  width: 25%;
}

.banner {
  position: relative;
  h3 {
    margin: 60px 0px;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}
.hero-image {
  align-items: center;
}
#hero-image {
  width: 40%;
  height: auto;
}
