// colors
$green: #68c5a8;
$light-green: #97dfc9;
$red: #f8a8b9;
$light-grey: #e6e6e6;
$white: white;
$black: black;

//fonts
$header: 'Monda';
$sub-heading: 'Roboto Mono';
$p-text: 'STIXIntegralsUpSm';

$padding-button: 10px;

h1,
h4 {
  font-family: $sub-heading;
  color: $white;
}

h2,
li,
.button {
  font-family: $sub-heading;
  color: black;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
li {
  display: flex;
  align-items: center;
}

.navbar-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  li {
    margin-left: 20%;
    padding: 20px 0px;
    a {
      color: $black;
    }
  }
}

.heading-container {
  display: flex;
  // justify-content: center;
  align-items: center;
  // flex-direction: row;
  // border: 1px solid black;
  margin-top: 20px;
  img {
    margin-right: 20px;
    // border-right: 2px solid $light-green;
  }
  h2 {
    // border-left: 1px solid purple;
  }
}

.project-container {
  margin: 20px 10px;
  background-color: $light-grey;
  height: 200px;
  // width: calc(33% - 20px);
  .project-label-container {
    position: relative;
    height: 100%;
    img {
      // border: 1px solid grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      // padding: 30%;
      // object-fit: contain;
    }
    .project-label {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      background-color: $red;
      padding: $padding-button;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.inline-block {
  display: inline-block;
}

.button {
  padding: $padding-button;
  // width: 200px;
  margin: 20px 0px;
  border: 2px solid $red;
  display: inline-block;
  display: flex;
  align-items: center;
}

.banner {
  color: $white;
  background-color: $green;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $header;
    font-size: 36px;
  }
  h3 {
    font-family: $sub-heading;
  }
}

//hover
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 10px;
  background: #f8a8b9;
  height: 3px;
  border-radius: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.line {
  border: thin solid $light-green;
  width: 20px;
  margin: 20px 0px;
}

.test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
}

// .hidden {
//   display: none;
// }

.content-container {
  margin: 0px 10px;
}

hr {
  border-radius: 5px;
  border-color: $light-green;
  margin-left: 0;
}
